
body, html {
    height: 100%;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
body{
  background-color: rgb(239, 241, 243);
}

nav{
  background: rgba(45, 68, 90, 0.4);
}
.nav-item{
  font-size: 20px;
  margin: 2px;
}

.land { 
  /* The image used */
  background-image: url("img/pexels-pixabay-315938.jpg");
  opacity: 1;
  color: aliceblue;
  /* Full height */
  height: 100%; 
  width: 100%;
  /* Center and scale the image nicely */
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.land-text{
  margin-bottom: 150px;
  font-size: 25px;
  line-height: 1.6;
}
.land-text h1{
  font-size: 50px;
  line-height: normal
}
.btn{
  margin-top: 60px;
  font-size: 30px;
  border: 0px;
  border-radius: 15px;
  color: antiquewhite;
  background-color: rgb(90, 121, 161,0.5)
}
.btn:hover{
  background-color: rgb(41, 29, 53);
}
.why{
  height: 100%;
}
.facilities{
  padding-top: 10px;
  background-image: url("img/table.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  padding: 5%;
  display: flex;
  align-items: center;
}
.swiper-container{
  height: 90%;
  width: 90%;
}
.swiper-container .btn{
  font-size: 100%;
}

.swiper-pagination-bullet-active {
  background-color: black !important;
  size: 40px;
}

footer{
  background-color: rgb(216, 229, 236, 0.96);
  padding-top: 20px;
}
.how{
  padding: 8%;
  
}



@media (max-width:768px){
  nav{
    background-color: rgba(19, 15, 41, 0.96);
  }
  .nav-head{
    font-size: 20px;
  }
  .land-text{
    font-size: 15px;
  }
  .land-text h1{
    font-size: 25px;
  }
  .btn{
    margin: 10px;
    font-size: 15px;
  }
  .swiper-container{
    height: auto;
    font-size: 10px;
  }
  .why{
    height: auto;
  }
  .facilities{
    height: auto;
  }
}


